* {
    background-color: #1a1a1a;
    color: #b3b3b3;
    font-family: Arial, Helvetica, sans-serif;    
}

body {
    width: 100%;
    overflow-x: hidden;
    margin-left: -2px;
}

.header {
    width: 100%;
    height: 550px;
    position: relative;
    margin-top: -7px;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: scale 25s;
}

@keyframes scale {
    0% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

.info {
    width: 50%;
    background: none;
    top: 27%;
    left: 27%;
    color: white;
    position: absolute;
    justify-content: center;
}

.info p {
    background: none;
    color: white;
    font-size: xx-large;
    font-style: italic;
    text-align: center;
}

.info hr {
    width: 320px;
}

.description {
    background-color: #1a1a1a;
    height: 380px;
    position: relative;
}

.descricao {
    margin-top: 60px;
    position: absolute;
    background: none;
    width: 75%;
    color: white;
    text-align: justify;
    left: 13%;
    font-size: larger;
}

.email {
    position: absolute;
    color: white;
    background: none;
    width: 75%;
    left: 13%;
    margin-top: 180px;
    font-size: larger;
}

.icon-1 {
    position: absolute;
    background: none;
    margin-top: 230px;
    left: 40%;
}

.icon-2 {
    position: absolute;
    background: none;
    margin-top: 230px;
    left: 55%;
}

.devicon-github-original-wordmark {
    background: none;
    font-size: 100px;
    color: white;
}

.devicon-linkedin-plain {
    font-size: 100px;
    background: none;
}

.stack {
    align-items: center;
    margin-top: 70px;
    margin-bottom: 60px;
}

.img-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 0px;
}

.stack h2 {
    text-align: center;    
    font-size: xx-large;
    color: white;
    font-style: italic;
}

.linha {
    width:120px;
}

.projects {
    height: 500px;
    border-top: solid white 0.2px;
    margin-bottom: 70px;
}

.projects h2 {
    color: white;
    text-align: center;
    font-size: xx-large;
    margin-top: 50px;
    font-style: italic;
    margin-bottom: 50px;
}

.projects a {
    text-decoration: none;
}

.projects-container {
    display: flex;
    justify-content: center;
}

.md-project {
    width: 450px;
    height: 350px;
    padding-top: 50px;
    border: solid white 1px;
    justify-content: center;
    margin-right: 100px;    
}

.javali-project {
    width: 450px;
    height: 350px;
    padding-top: 50px;
    border: solid white 1px;
    justify-content: center;
}

.md-title-project {
    text-align: center;
    font-weight: bold;
}

.desc-project {
    width: 400px;    
    text-align: justify;
    padding-left: 20px;
}

.md-img {
    margin-left: 17%;
}

.javali-img {
    margin-top: 20px;
    margin-left: 17%;
}

.javali-title-project {
    margin-top: 52px;
    text-align: center;    
}

.icon {    
    padding: 40px;
    padding-bottom: 0.5px;       
}

.icon p {
    padding: 20px;
    text-align: center;
    font-weight: bold;
}

.devicon-html5-plain-wordmark {
    font-size:100px
}

.devicon-css3-plain-wordmark {
    font-size:100px
}

.devicon-javascript-plain {
    font-size:100px
}

.devicon-php-plain {
    font-size:100px
}

.devicon-react-original {
    font-size:100px
}

.devicon-tailwindcss-plain {
    font-size:100px
}

.devicon-mysql-plain-wordmark {
    font-size: 100px
}

.rodape {
    background-color: black;
    width: 100%;
    margin-left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: -7px;
    height: 350px;
}

.footer-span {
    text-align: center;
    background: none;
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.footer-span span {
    background: none;
    font-size: large;
    margin-bottom: 10px;
    color: white;
}

.footer-icons {
    background: none;
    justify-content: center;
    align-items: center;
}

.footer-icons h2{
    background: none;
    color: white;
    margin-bottom: 40px;
    font-size: xx-large;
}

.footer-icons a {
    text-decoration: none;
    background: none;
    margin-left: 20px;
}

.icon-footer {
    font-size: 55px;
    padding: 15px;    
}

.devicon-linkedin-plain {
    color: white;
}
